<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SsdtDeployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>

  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file type="log4net.Util.PatternString" value="${TMP}\SSDT_Deployment\Logging\" />
      <param name="AppendToFile" value="true" />
      <datePattern value="'SSDT_Deployment.'yyyyMMdd'.log'" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%property{log4net:HostName}] [%property{pid}] [%5level] [%d{yyyy-MM-dd HH:mm:ss.ffff}] (%logger:%line) - %message%newline" />
      </layout>
    </appender>
    <root>
      <!--<level value="ALL" />-->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SsdtDeployment.Properties.Settings>
          <setting name="SqlPackageExeLocation" serializeAs="String">
            <value>C:\Program Files (x86)\Microsoft SQL Server\110\DAC\bin\SqlPackage.exe</value>
          </setting>
          <setting name="DataFileFolderName" serializeAs="String">
            <value>Data</value>
          </setting>
          <setting name="PrePublishReportFilename" serializeAs="String">
            <value>PrePublishReport.xml</value>
          </setting>
          <setting name="DriftReportFilename" serializeAs="String">
            <value>DriftReport.xml</value>
          </setting>
          <setting name="ScriptFilename" serializeAs="String">
            <value>VisualStudioDbProjectScript.sql</value>
          </setting>
        </SsdtDeployment.Properties.Settings>
    </applicationSettings>
</configuration>
